.input-detail {
    border: none;
    color: #E6E6FA;
    font-size: 16px;
    background-color: transparent;
    text-align: center;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
}

input:focus {
    outline: transparent;
    background-color: transparent;
}

h1, h2 {
    padding-top: 2vh;
    padding-bottom: 2vh;
    font-size: 22px;
    text-align: center;
}

.main-h1 {
    font-size: 26px;
    text-align: left;
    margin-top: 1vh;
    padding-left: 2vw;
}

.details-table {
    text-align: center;
    margin: 0 auto;
    padding-top: 15vh;
    padding-bottom: 5vh;
    width: 50%;
}

td, th {
    padding: 15px;
    border: 1px solid #d495e2;
}


.hidden {
    border: none;
}

button {
    background-color: transparent;
    color: #E6E6FA;
    border: none;
    cursor: pointer;
}

.react-icons {
    font-size: 22px;
    transition: color 0.4s;
}

.react-icons:hover {
    color: #d495e2;
}

.td-progression-rules {
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
}

.edited-input {
    border:none;
    color: #E6E6FA;
    font-size: 16px;
    text-align: center;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    animation: highlight 1s;
}

.details-wrapper {
    margin-top: 5vh;
}





