.div_container {
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: 40rem;
    margin: 8rem auto;
    width: 600px;
    background-image: linear-gradient(200deg, #7d448b 15%, #4f1866 82%);
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 30px;
}

.instruction ul {
    list-style-type: none;
    padding: 1rem;
    border-radius: 6px;
    background-image: linear-gradient(200deg, #39114a 15%, #310942 82%);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    width: 540px;
    margin-bottom: 2rem;
}

ul:nth-last-child {
    padding-bottom: 0;
}

.instruction h2 {
    font-size: 20px;
    margin-bottom: 4vh;
    align-self: center;
}

.instruction_icon {
    font-size: 30px;
    margin-left: 10px;
    padding: 5px;
    border: 1px solid white;
}

.instruction li {
    display: flex;
    justify-content: start;
    align-items: center;
    color: #E6E6FA;
}

.instruction p {
    margin-left: 5px;
}