.div_edit_training_container {
    display: flex;
    position: absolute;
    top: 58%;
    right: 0;
    transform: translateY(-50%);
    background-image: linear-gradient(200deg, var(--color-primary) 15%, var(--color-primary-gradient) 82%);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s ease-out;
    z-index: 999;
    text-align: center;
    font-family: 'Playpen Sans', sans-serif;
    flex-wrap: wrap;
    width: 300px;
    margin: 0 auto;
}

.div_edit_training_container h1 {
    font-size: 20px;
    margin: 0 auto 20px;
}

.div_edit_training_container.open {
    transform: translateX(0);
}

.div_edit_training_container.closed {
    transform: translateX(100%);
}

input[type="time"] {
    background-color: var(--color-almost-white);
    border: 1px solid var(--color-almost-white);;
    color: var(--color-primary-background);
    padding: 5px 10px;
    border-radius: 4px;
}


input[type="time"]:focus {
    outline: transparent;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
}

.div_edit_training_container.open input[type="time"],
.div_edit_training_container.open .add_event_button {
    display: block;
    margin-bottom: 20px;
}

.label_date {
    width: 60%;
    padding-right: 10px;
    box-sizing: border-box;
    font-size: 14px;
    margin-top: 8px;
    text-align: left;
}

.input_date {
    width: 40%;
}

.edit_training_button {
    margin: 10px 20px;
    cursor: pointer;
    width: 160px;
}

.edit_training_button:hover {
    background-color: var(--color-light);
}

.error {
    font-size: 14px;
    color: var(--error-color);
    margin-bottom: 0.4rem;
}

