.buttonWithAnimation {
    background-color: transparent;
    border: none;
    font-size: 1.25rem;
    color: var(--color-almost-white);
    transition: color 0.3s ease-in-out;
    font-family: 'Playpen Sans', sans-serif;
    z-index: 100;
    margin-right: 5px;
    margin-left: 5px;
    padding: 5px 10px;
}

.buttonWithAnimation {
    overflow: hidden;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        width: 0;
        left: 50%;
        height: 2px;
        background-color: var(--color-light);
        transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
    }

    &:hover {
        color: var(--color-light);

        &:before {
            width: 100%;
            left: 0;
        }
    }

    &.active {
        color: var(--color-light);

        &:before {
            width: 100%;
            left: 0;
        }
    }
}

a {
    text-decoration: none;
}

.buttonWithAnimation {
    background-color: var(--button-color);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    position: relative;
    min-width: 220px;
    text-align: center;
}

.buttonWithAnimation a:hover,
.buttonWithAnimation a.active {
    background-color: var(--button-color);
    border-color: var(--color-primary);
    color: var(--color-primary-background);
}

@media (max-width: 576px) {

    .button,
    .buttonWithAnimation {
        border: 1px solid var(--color-primary);
        font-size: 24px;
        color: var(--color-almost-white);
        transition: color 0.3s ease-in-out;
        font-family: 'Playpen Sans', sans-serif;
        width: 100vw;
        text-align: center;
        background-color: var(--button-color);
        padding: 10px 0;
    }

    .buttonWithAnimation::before,
    .buttonWithAnimation::after {
        display: none;
    }

    .a {
        padding: 0;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        position: relative;
        width: 100%;
        height: 40px;
    }
}
