.slideshow {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}

.slideshow img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transform: scale(1.1) translateX(-1rem) rotate(-5deg);
    transition: all 0.5s ease-in-out;
    filter: opacity(40%);
}

.slideshow .active {
    z-index: 1;
    opacity: 1;
    transform: scale(1) translateX(0) rotate(0);
}

.text {
    opacity: 1;
    z-index: 2;
    color: #E6E6FA;
    font-size: 1.25rem;
    transition: opacity 0.5s ease-in-out;
}

.text.hidden {
    opacity: 0;
}

.text.visible {
    opacity: 1;
}
