.button {
    font-family: 'Playpen Sans', sans-serif;
    background-color: var(--color-primary);
    color: var(--color-almost-white);
    font-size: 16px;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
    border: none;
}

.button:hover {
    background-color: var(--button-color);
}