.main-plan {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 0 auto;
    border: 1px solid white;
    padding-right: 7vw;
}


h1, h2 {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-h1 {
    margin-bottom: 10vh;
}

.wrapper {
    margin-top: 7vh;
}

.gradient-bgc-tr {
    background-image: linear-gradient(200deg, #87CEEB 15%, #DA70D6 82%);
}

.main-table {
    margin-right: 2vw;
    width: 30vw;
}

.icon {
    font-size: 22px;
}

.add {
    width: 1vw;
}

