.main-plan {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin: 0 auto;
    border: 1px solid white;
    /*padding-right: 10vw;*/
}


h1, h2 {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.wrapper {
    margin-top: 5vh;
}

.gradient-bgc-tr {
    background-image: linear-gradient(200deg, #87CEEB 15%, #DA70D6 82%);
}

table {
    margin-right: 2vw;
}

