

.add-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    cursor: default;
    color: white;
}

.add-form h2 {
    align-self: center;
}

.add-form label {
    display: block;
    font-size: 16px;
    font-weight: bold;
}

.add-form label small {
    font-weight: normal;
}

.add-form input {
    margin-top: 1vh;
    padding: 5px;
    width: 30vw;
    font-size: 12px;
    border: 1px solid white;
}

.add-form input:hover,
.add-form textarea:hover
{
    cursor: pointer;
}

.add-form button {
    width: 17vw;
    margin-top: 20px;
    padding: 10px;
}