.div_add_training_container {
    background-image: linear-gradient(200deg, var(--color-primary) 15%, var(--color-primary-gradient) 82%);
    padding: 20px;
    text-align: center;
    width: 500px;
    margin: 5rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Playpen Sans', sans-serif;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.div_add_training_container h1 {
    font-size: 20px;
    margin: 1rem auto;
}

.div_add_training_container select {
    font-family: 'Playpen Sans', sans-serif;
    margin-top: 20px;
    background-color: transparent;
    color: var(--color-almost-white);
    border: 1px solid var(--color-almost-white);
    padding: 8px 10px;
    outline: none;
    cursor: pointer;
    border-radius: 4px;
    width: 350px;
}

.div_add_training_container select option {
    font-size: 14px;
    color: var(--color-primary-background);
}

input[type="time"] {
    background-color: var(--color-almost-white);
    border: 1px solid var(--color-almost-white);;
    color: var(--color-primary-background);
    padding: 5px 10px;
    border-radius: 4px;
}

.actions {
    align-self: center;
    margin-top: 2rem;
}

.add_training_button {
    width: 100px;
}


input[type="time"]:focus {
    outline: transparent;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
}

.div_add_training_container input[type="time"],
.div_add_training_container .add_training_button {
    margin-bottom: 20px;
}

.div_add_training_container input[type="time"] {
    width: 100px;
}

.div_add_training_container select:nth-child(3) {
    margin-bottom: 2rem;
}

.label_and_input_container {
    width: 350px;
    display: flex;
    justify-content: space-between;
}

.label_date {
    padding-right: 10px;
    box-sizing: border-box;
    font-size: 14px;
    margin-top: 8px;
}

.error {
    font-size: 14px;
    color: var(--error-color);
    margin-bottom: 0.4rem;
}

@media (max-width: 576px) {
    .div_add_training_container {
        padding: 20px;
        text-align: center;
        width: 100vw;
        margin: 0 auto;
    }
}


