.div_add_training_container {
    position: absolute;
    top: 15%;
    right: 0;
    transform: translateY(-50%);
    background-image: linear-gradient(200deg, var(--color-primary) 15%, var(--color-primary-gradient) 82%);
    padding: 20px;
    transition: 0.3s ease-out;
    z-index: 999;
    text-align: center;
    width: 300px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Playpen Sans', sans-serif;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.div_add_training_container.open {
    transform: translateX(0);
}

.div_add_training_container.closed {
    transform: translateX(100%);
}

.div_add_training_container h1 {
    font-size: 20px;
    margin: 0 auto;
}

.div_add_training_container select {
    font-family: 'Playpen Sans', sans-serif;
    margin-top: 20px;
    background-color: transparent;
    color: var(--color-almost-white);
    border: 1px solid var(--color-almost-white);
    padding: 8px 10px;
    outline: none;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
}

.div_add_training_container select option {
    font-size: 14px;
    color: var(--color-primary-background);
}

input[type="time"] {
    background-color: var(--color-almost-white);
    border: 1px solid var(--color-almost-white);;
    color: var(--color-primary-background);
    padding: 5px 10px;
    border-radius: 4px;
}

.actions {
    display: flex;
    column-gap: 3.6rem;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}


input[type="time"]:focus {
    outline: transparent;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
}

.div_add_training_container input[type="time"],
.div_add_training_container .add_event_button {
    align-self: flex-start;
    margin-bottom: 20px;
}

.div_add_training_container select:nth-child(3) {
    margin-bottom: 2rem;
}

.label_date {
    width: 60%;
    padding-right: 10px;
    box-sizing: border-box;
    font-size: 14px;
    margin-top: 8px;
    text-align: left;
}

.input_date {
    width: 40%;
}

.error {
    font-size: 14px;
    color: var(--error-color);
    margin-bottom: 0.4rem;
}

@media (max-width: 576px) {
    .div_add_training_container {
        position: absolute;
        bottom: 10%;
        right: 0;
        padding: 20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: 0.3s ease-out;
        z-index: 999;
        text-align: center;
        width: 100vw;
        margin: 0 auto;
    }
}


