.header {
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(200deg, #642a71 15%, #7d448b 82%);
    color: #E6E6FA;
    padding: 10px 10px;
    margin-top: 2.5rem;
}

.header ul {
    display: flex;
    list-style: none;
    border: none;
    margin: 0;
    padding: 10px 10px;
    align-items: center;
}

.header li {
    margin: 0 1rem;
}

.header a {
    text-decoration: none;
}

.header nav li a,
.header nav li form button {
    background-color: #310942;
    border: 1px solid #39114a;
    padding: 0.5rem 1.5rem;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.header nav li button {
    background-color: transparent;
    border: none;
    font-size: 1.25rem;
    color: #E6E6FA;
}

.header nav a:hover,
.header nav li a.active,
.header nav button:hover,
.header nav li a.active button {
    background-color: #d495e2;
    border-color: #7d448b;
    color: #310942;
    cursor: pointer;
}
