.header {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7d448b;
    color: #E6E6FA;
    padding: 10px 10px;
}

.header ul {
    display: flex;
    list-style: none;
    border: none;
    margin: 0;
    padding: 10px 10px;
    align-items: center;
}

.header li {
    margin: 0 1rem;
}

.header a {
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
}

.header a:hover,
.header a:active {
    color: #310942;
}

.header li {
    font-size: 1.25rem;
    background-color: #310942;
    border: 1px solid #39114a;
    padding: 0.5rem 1.5rem;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    color: #2c2922;
}

.header li:hover,
.header li:active {
    background-color: #d495e2;
    border-color: #7d448b;
}