.header {
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(200deg, #642a71 15%, #7d448b 82%);
    color: #E6E6FA;
    padding: 10px 10px;
    margin-top: 2.5rem;
}

.header ul {
    display: flex;
    list-style: none;
    border: none;
    margin: 0;
    padding: 10px 10px;
    align-items: center;
}

.header a {
    text-decoration: none;
}

.header nav li a {
    background-color: #8c5997;
    padding: 0.5rem 1.5rem;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    position: relative;
}

.header nav a:hover,
.header nav li a.active {
    background-color: #8c5997;
    border-color: #7d448b;
    color: #310942;
}

.header nav li button,
.buttonWithAnimation {
    background-color: transparent;
    border: none;
    font-size: 1.25rem;
    color: #E6E6FA;
    transition: color 0.3s ease-in-out;
    font-family: 'Playpen Sans', sans-serif;
    z-index: 100;
}

.buttonWithAnimation {
    overflow: hidden;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        width: 0;
        left: 50%;
        height: 2px;
        background-color: #d495e2;
        transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
    }

    &:hover {
        color: #d495e2;

        &:before {
            width: 100%;
            left: 0;
        }
    }

    &.active {
        color: #d495e2;

        &:before {
            width: 100%;
            left: 0;
        }
    }
}

.header nav {
    position: relative;
}

.header nav li {
    display: inline-block;
    padding: 0.5rem 1.5rem;
}

.button_avatar {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    cursor: pointer;
}

.avatar_img {
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.dropdownMenu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #8c5997;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    z-index: 10;
}

.dropdownMenu button {
    display: block;
    width: 100%;
    padding: 10px 20px;
    text-align: left;
    color: #E6E6FA;
    background: none;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.dropdownMenu button:hover {
    background-color: #7d448b;
}

.header .hamburgerIcon {
    display: none;
}

@media (max-width: 576px) {

    .header {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #E6E6FA;
    }

    .header ul {
        display: flex;
        list-style: none;
        flex-direction: column;
    }

    .logo_and_hamburger_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header nav li button,
    .buttonWithAnimation {
        border: 1px solid #7d448b;
        font-size: 1.25rem;
        color: #E6E6FA;
        transition: color 0.3s ease-in-out;
        font-family: 'Playpen Sans', sans-serif;
        width: 100vw;
        text-align: center;
        padding: 10px 10px;
        background-color: #8c5997;
    }

    .buttonWithAnimation::before,
    .buttonWithAnimation::after {
        display: none;
    }

    .header nav li a {
        padding: 0;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        position: relative;
        width: 100%;
        height: 40px;
    }

    .header nav li {
        padding: 0;
    }

    .header .mobileMenu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 8vh;
        left: 0;
        width: 100%;
        background-color: #642a71;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        z-index: 100;
    }

    .header .mobileMenu li {
        width: 100%;
        text-align: center;
    }

    .header .hamburgerIcon {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        z-index: 101;
        width: 30px;
        height: 3px;
        background-color: #fff;
        margin-left: 30px;
        transition: transform 0.4s;
    }

    .header .hamburgerIcon::before,
    .header .hamburgerIcon::after {
        content: '';
        background-color: white;
        width: 30px;
        height: 3px;
        transition: transform 0.4s;
        position: absolute;
    }

    .header .hamburgerIcon::before {
        transform: translateY(-10px) ;
    }

    .header .hamburgerIcon::after {
        transform: translateY(10px);
    }

    .header .hamburgerOpen::before {
        transform: rotate(-45deg);
    }

    .header .hamburgerOpen::after {
        transform: rotate(45deg);
    }

    .header .hamburgerOpen {
        height: 0;
    }
}

@media (min-width: 577px) {
    .header .hamburgerIcon {
        display: none;
    }
}