.header {
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(200deg, var(--color-secondary) 15%, var(--color-primary) 82%);
    color: var(--color-almost-white);
    padding: 10px 10px;
    margin-top: 2.5rem;
}

.header ul {
    display: flex;
    list-style: none;
    border: none;
    margin: 0;
    padding: 10px 10px;
    align-items: center;
}

.header nav {
    position: relative;
}


@media (min-width: 577px) {

    .header .hamburgerIcon {
        display: none;
    }
}

@media (max-width: 576px) {

    .header {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: var(--color-almost-white);
        height: 80px;
        margin-bottom: 30px;
        margin-top: 0;
    }

    .header ul {
        margin-top: -10px;
        display: flex;
        list-style: none;
        flex-direction: column;
    }

    .header nav ul a {
        border-bottom: 3px solid #400d55;
    }

    .logo_and_hamburger_container {
        margin-top: 7px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .logo_and_hamburger_container::after {
        margin-top: -15px;
        content: '';
        display: flex;
        border: 1px solid var(--color-primary);
        width: 100vw;
    }

    .header nav {
        display: none;
        opacity: 0;
        transition: opacity 0.5s;
    }

    .header nav.navOpen {
        display: flex;
        opacity: 1;
    }

    .header .hamburgerIcon {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        z-index: 101;
        width: 30px;
        height: 3px;
        background-color: var(--color-almost-white);
        margin: 2.8rem auto;
        transition: transform 0.4s;
    }

    .header .hamburgerIcon::before,
    .header .hamburgerIcon::after {
        content: '';
        background-color: var(--color-almost-white);
        width: 30px;
        height: 3px;
        transition: transform 0.4s;
        position: absolute;
    }

    .header .hamburgerIcon::before {
        transform: translateY(-10px) ;
    }

    .header .hamburgerIcon::after {
        transform: translateY(10px);
    }

    .header .hamburgerOpen::before {
        transform: rotate(-45deg);
    }

    .header .hamburgerOpen::after {
        transform: rotate(45deg);
    }

    .header .hamburgerOpen {
        height: 0;
    }
}
