.instruction-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

ul {
    border: 1px dotted white;
    padding: 5vh 5vw;
    margin-top: 1vh;
    margin-bottom: 3vh;
}

li {
    padding-bottom: 5vh;
}

.last {
    padding-bottom: 0;
}

.instruction-h2 {
    font-size: 20px;
}

.react-icons-instruction {
    font-size: 30px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    border: 1px solid white;
}