.instruction-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 5vh;
    margin-right: 20vw;
}

ul {
    border: 1px dotted white;
    padding: 5vh 3vw;
    margin-bottom: 5vh;
    list-style-type: none;
}

li {
    padding-bottom: 5vh;
}

.last {
    padding-bottom: 0;
}

.instruction-h2 {
    font-size: 20px;
    margin-bottom: 2vh;
}

.react-icons-instruction {
    font-size: 30px;
    margin-left: 10px;
    margin-right: 20px;
    padding: 5px;
    border: 1px solid white;
    vertical-align: -7px
}

.btn-back {
    font-size: 22px;
    color: #E6E6FA;
    text-decoration: none;
    display: flex;
    justify-content: center;
    transition: color 0.4s;
}

.btn-back:hover {
    color: #d495e2;
}

.div-btn-back-container {
    display: flex;
    justify-content: center;
}