.input {
    border: none;
    color: var(--color-almost-white);
    font-size: 16px;
    text-align: center;
    width: 100%;
    font-family: 'Playpen Sans', sans-serif;
    background-color: transparent;
}

input:focus {
    outline: transparent;
    background-color: transparent;
}

.input, input:focus, .edited_input {
    transition: background-color 0.3s, color 0.3s;
}

.input, input {
    border-radius: 5px;
}

.input::placeholder {
    color: var(--color-light);
}

td:hover {
    border: 2px solid var(--color-light);
}

.td {
    min-width: 80px;
}

tr {
    background-image: linear-gradient(200deg, var(--color-primary) 15%, var(--color-primary-gradient) 82%);
}

td.td.narrower {
    min-width: 120px;
}

td, th {
    height: 70px;
    border: 1px solid var(--color-light);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th {
    padding: 15px;
}

h1 {
    font-size: 1.5rem;
}

button {
    background-color: transparent;
    color: var(--color-almost-white);
    border: none;
    cursor: pointer;
}

.td {
    min-width: 200px;
}

td.td.narrower {
    min-width: 100px;
}

@keyframes highlight {
    0% {
        color: var(--color-almost-white);
    }
    50% {
        color: var(--color-light);
    }
    100% {
        color: var(--color-almost-white);
    }
}

.edited_input {
    border: none;
    color: var(--color-almost-white);
    font-size: 16px;
    text-align: center;
    width: 100%;
    font-family: 'Playpen Sans', sans-serif;
    background-color: transparent;
    animation: highlight 1s;
}

.error_message {
    color: var(--error-color);
}