.main {
    min-height: 70vh;
}

.root_layout_container {
    background: radial-gradient(
            circle at top,
            rgba(56, 9, 78, 100),
            rgba(64, 13, 85, 0.87)
    ),
    url("../../images/background.png");
    background-position-y: 60px;
    min-height: 90vh;
    margin: 5vh auto;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.5);
    max-width: 1400px;
}

@media (max-width: 576px) {
    .main {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .root_layout_container {
        margin-top: 0;
    }
}
