.main {
    min-height: 60vh;
}

.root_layout_container {
    background-image: linear-gradient(200deg, var(--color-secondary-violet) 15%, var(--color-accessory-gradient) 82%);
    min-height: 90vh;
    margin: 5vh auto;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.5);
    max-width: 1400px;
}

@media (max-width: 576px) {
    .main {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .root_layout_container {
        margin-top: 0;
    }
}
