.mobile_only_form button {
    font-family: "Playpen Sans", sans-serif;
    justify-content: center;
    align-items: center;
    background-color: var(--button-color);
    color: var(--color-almost-white);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    width: 100%;
    padding: 20px 0;
    z-index: 101;
    font-size: 24px;
    border: none;
    display: none;
    border-radius: 0;
}

@media (min-width: 769px) {

    @keyframes fadeInDown {
        from {
            opacity: 0;
            transform: translateY(-20px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes fadeOutUp {
        from {
            opacity: 1;
            transform: translateY(0);
        }
        to {
            opacity: 0;
            transform: translateY(-20px);
        }
    }

    .dropdownMenu {
        margin-top: -1.25rem;
        position: absolute;
        top: 105%;
        right: -1%;
        background-color: var(--button-color);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        z-index: 10;
        max-height: 0;
        opacity: 0;
    }

    .dropdownMenu.open {
        animation: fadeInDown 0.3s ease forwards;
    }

    .dropdownMenu.close {
        animation: fadeOutUp 0.3s ease forwards;
    }

    .dropdownMenu.open,
    .dropdownMenu.close {
        max-height: 200px;
        opacity: 1;
    }

    .dropdownMenu button {
        display: block;
        font-family: "Poiret One", sans-serif;
        font-size: 1.25rem;
        width: 100%;
        padding: 10px 20px;
        text-align: left;
        color: var(--color-almost-white);
        background: none;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .dropdownMenu button:hover {
        background-color: var(--color-primary);
    }
}

@media (max-width: 576px) {

    .dropdownMenu {
        display: none;
    }

    .mobile_only_form {
        display: flex;
        width: 100%;
    }

    .mobile_only_form button {
        display: flex;
        border: none;
        z-index: 100;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        position: relative;
        text-align: center;
        margin: 0 auto;
        min-width: 110px;
        height: 46px;
        font-size: 24px;
        width: 100vw;
        padding: 40px 0;
    }
}

@media (min-width: 577px) {
    .mobile_only_form {
        display: none;
    }
}