.information-modal {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    margin: 23vh auto 5vh;
    padding: 60px 50px;
    width: 30%;
    background-image: linear-gradient(200deg, #4e246d 15%, #310942 82%);
    font-size: 22px;
}

.information-modal button {
    font-family: 'Ubuntu', sans-serif;
    margin-top: 7vh;
    font-size: 22px;
    padding: 22px 5vw 3vh;
    border: 1px solid #d495e2;
}

.information-modal h2 {
    margin-bottom: 5vh;
}

.icon-modal {
    margin: 0 auto;
    font-size: 70px;
}

.ReactModal__Overlay {
    opacity: 0;
    transform: translateX(-100vw);
    transition: all 1200ms ease-in-out;
    background-image: linear-gradient(200deg, #c070cf 15%, #d495e2 82%);
}

.ReactModal__Overlay--after-open {
    opacity: 1;
    transform: translateX(0px);
    background-image: linear-gradient(200deg, #c070cf 15%, #d495e2 82%);
}

.ReactModal__Overlay--before-close {
    opacity: 0;
    transform: translateX(100vw);
    background-image: linear-gradient(200deg, #c070cf 15%, #d495e2 82%);
}

