.slideshow {
    width: 40rem;
    height: 25rem;
    filter: drop-shadow(8px 8px 10px var(--color-primary));
}

.div_home_container {
    padding-top: 3rem;
    padding-bottom: 3rem;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}

.home_h1 {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    font-size: 24px;
}

.home_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(200deg, var(--color-primary) 15%, var(--color-primary-gradient) 82%);
    border-radius: 8px;
    padding: 2rem 0 4rem;
    width: 900px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.button_mobile_only {
    display: none;
}

@media (max-width: 576px) {
    .slideshow {
        width: 100%;
        height: 250px;
        text-align: center;
        margin-top: 4rem;
    }

    .div_home_container {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .home_card {
        width: 100%;
        height: 500px;
        padding: 1rem;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
        border-radius: 0;
    }

    .home_header {
        margin-bottom: 3rem;
    }

    .home_h1 {
        margin-top: 1rem;
        margin-bottom: 0.7rem;
        font-size: 24px;
        text-align: center;
    }

    .home_header p {
        font-size: 20px;
        text-align: center;
    }

    .button_mobile_only {
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: -1;
        margin-top: 3rem;
    }

    .plans_btn {
        background-color: var(--color-primary);
        padding: 10px 10px;
        border-radius: 8px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    }
}


@media (min-width: 768px) and (max-width: 1400px) {
    .home_card {
        width: 100vw;
        border-radius: 0;
    }
}
