.slideshow {
    width: 40rem;
    height: 25rem;
    filter: drop-shadow(8px 8px 10px #7d448b);
}

.div_home_container {
    padding-top: 3rem;
    padding-bottom: 5rem;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}

.home_h1 {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

.home_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(200deg, #7d448b 15%, #4f1866 82%);
    border-radius: 8px;
    padding: 2rem;
    width: 900px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

@media (max-width: 576px) {
    .slideshow {
        width: 100%;
        filter: none;
        height: 250px;
        text-align: center;
    }

    .div_home_container {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .home_card {
        width: 100%;
        padding: 1rem;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
        border-radius: 0;
    }

    .home_header {
        margin-bottom: 3rem;
    }

    .home_h1 {
        margin-top: 1rem;
        margin-bottom: 0.7rem;
        font-size: 24px;
        text-align: center;
    }

    .home_header p {
        font-size: 20px;
        text-align: center;
    }
}

