.logo h1 {
    font-family: 'Poiret One', sans-serif;
    font-size: 26px;
    padding-left: 0.5rem;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
}

.logo img {
    margin-bottom: 0.5rem;
}

@media (max-width: 576px) {
    .h1 {
        font-size: 28px;
        padding-left: 0;
    }
}