.logo h1 {
    font-family: 'Poiret One', sans-serif;
    font-size: 26px;
    padding-left: 0.5rem;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    margin-bottom: 0.5rem;
}

@media (max-width: 576px) {
    .logo h1 {
        font-size: 28px;
    }
}

@media (min-width: 768px) and (max-width: 1400px) {
    .logo {
        margin-left: 0.5rem;
        margin-top: 1rem;
    }

    .logo h1 {
        font-size: 32px;
    }

    .logo img {
        margin-top: 0.25rem;
        width: 40px;
        height: 40px;
    }
}


@media (min-width: 1401px) {
    .logo {
        margin-left: 2rem;
    }
}