.logo {
    font-size: 22px;
    /*padding-top: 5vh;*/
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    transition: color 0.4s;
}

.logo:hover {
    color: #d495e2;
}

