.icon {
    font-size: 22px;
    transition: color 0.4s;
    width: 25px;
    height: 25px;
}

.icon:hover {
    color: var(--color-light);
}

@media (max-width: 576px) {
    .icon {
        margin-top: 0.5rem;
        height: 30px;
    }
}