.div_container {
    height: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.list {
    color: var(--color-almost-white);
}

.list li {
    margin-left: 20px;
    margin-top: 5px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button {
    padding: 10px 10px;
    background-color: var(--color-primary-background);
}

.button:hover {
    background-color: var(--color-accessory-gradient);
}

.h1 {
    margin: 0 auto;
}

