.textarea-rule {
    font-family: 'Ubuntu', sans-serif;
    color: #E6E6FA;
    width: 50vw;
    min-width: 100%;
    height: 6vh;
    min-height: 6vh;
    background-color: transparent;
    font-size: 14px;
    border: none;
}

input:focus {
    outline: transparent;
    background-color: transparent;
}

textarea:focus {
    outline: transparent;
}

h1, h2 {
    padding-top: 2vh;
    padding-bottom: 2vh;
    font-size: 20px;
    text-align: center;
}

.rules-table {
    text-align: center;
    margin: 0 auto;
    padding-top: 10vh;
    padding-bottom: 5vh;
    width: 50%;
}

td, th {
    padding: 10px;
    border: 1px solid white;
}


.hidden {
    border: none;
}

button {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
}

.react-icons {
    font-size: 26px;
}

.h1-rules {
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-size: 20px;
    text-align: center;
}

.td-rule {
    width:2vw;
}

.rules-wrapper {
    margin-top: 5vh;
}



