.input-rule {
    border:none;
    color: white;
    /*color: #DA70D6;*/
    font-size: 16px;
    background-color: transparent;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
}

input {
    width: 100%;
}
input:focus {
    outline: none;
    background-color: transparent;
}

h1, h2 {
    padding-top: 2vh;
    padding-bottom: 2vh;
    font-size: 20px;
    text-align: center;
}

.rules-table {
    text-align: center;
    margin: 0 auto;
    padding-top: 15vh;
    padding-bottom: 5vh;
    width: 70%;
    /*border: 1px solid white;*/
}

td, th {
    padding: 10px;
    border: 1px solid white;
}


.hidden {
    border: none;
}

button {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
}

.react-icons {
    font-size: 26px;
}

.main-h1 {
    padding-top: 7vh;
}

.h1-rules {
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-size: 20px;
    text-align: center;
}

.td-rule {
    width:2vw;
}

/*// TODO: Powiększyć inputy żeby można tam było wpisać więcej tekstu - pomyśleć o co chodzi, od czego to zależy.*/


