.rbc-header {
    padding: 10px !important;
    font-weight: bold !important;
}

.rbc-off-range-bg {
    background-color: #270b31 !important;
}

.rbc-today {
    background-color: #d495e2 !important;
}

.rbc-btn-group {
    background-color: transparent !important;
}

.rbc-btn-group button {
    font-size: 1rem;
    border: 1px solid #39114a;
    padding: 0.5rem 0.5rem;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    color: #E6E6FA !important;
    height: 50px;
    width: 50px;
}

.rbc-toolbar-label {
    font-size: 1.5rem !important;
}

.rbc-btn-group button:first-child {
    width: 124px;
}

.rbc-btn-group button.rbc-active,
.rbc-btn-group button.rbc-active:hover,
.rbc-btn-group button:active,
.rbc-btn-group button:focus {
    background-color: #d495e2 !important;
}

.rbc-btn-group button:hover {
    background-color: #d495e2 !important;
}

.rbc-header {
    height: 40px !important;
}

.rbc-day-bg,
.rbc-row-segment,
.rbc-row {
    cursor: pointer;
}

.rbc-events-container {
    cursor: pointer;
}

.selected-date {
    background-color: #8549b6 !important;
}

.rbc-event-content {
    white-space: normal !important;
    max-height: 100px;
}

.rbc-event {
    background-color: #7d448b !important;
}

.rbc-month-view {
    background-image: linear-gradient(200deg, #39114a 15%, #310942 82%);
}