.calendar-modal {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    margin: 2vh auto 5vh;
    padding: 20px 20px;
    width: 900px;
    height: 890px;
    background-image: linear-gradient(200deg, #4e246d 15%, #310942 82%);
    font-size: 16px;
}

.calendar-modal h2 {
    margin-bottom: 5vh;
}

.icon-modal {
    margin: 0 auto;
    font-size: 70px;
}

.ReactModal__Overlay {
    opacity: 0;
    transform: translateX(-100vw);
    transition: all 1200ms ease-in-out;
    background-image: linear-gradient(200deg, #c070cf 15%, #d495e2 82%);
}

.ReactModal__Overlay--after-open {
    opacity: 1;
    transform: translateX(0px);
    background-image: linear-gradient(200deg, #c070cf 15%, #d495e2 82%);
}

.ReactModal__Overlay--before-close {
    opacity: 0;
    transform: translateX(100vw);
    background-image: linear-gradient(200deg, #c070cf 15%, #d495e2 82%);
}

.btn-back {
    margin-top: 10px;
    color: #E6E6FA;
    text-decoration: none;
    display: flex;
    justify-content: center;
    transition: color 0.4s;
    position: fixed;
    padding: 8px 12px;
    background-color: transparent;
    border: 1px solid #E6E6FA;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 1rem;
    font-size: 14px;
}


.btn-back:hover {
    color: #d495e2;
}

.div-btn-back-container {
    display: flex;
    justify-content: center;
}

.div-calendar-info {
    margin-bottom: 2rem;
}


