.btn_back {
    font-family: 'Playpen Sans', sans-serif;
    align-self: center;
    color: #E6E6FA;
    font-size: 1.25rem;
    background-color: var(--color-primary);
    border: 1px solid var(--color-accessory-border);
    padding: 0.5rem 1.5rem;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

@media(max-width: 576px) {
    .btn_back {
        margin: 3rem auto;
    }
}