.div-calendar-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    margin: 6vh auto 5vh;
    padding: 20px 20px;
    width: 900px;
    height: 700px;
    background-image: linear-gradient(200deg, #7d448b 15%, #4f1866 82%);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.5);
    font-size: 16px;
    border-radius: 8px;
}

.calendar-h3 {
    margin-bottom: 5px;
}


