.slideshow {
    width: 40rem;
    height: 25rem;
    filter: drop-shadow(8px 8px 10px #7d448b);
}

.home-container {
    margin-top: 5rem;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}

.home-h1 {
    margin-bottom: 0.5rem;
}

