.button_avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    width: 50px;
    height: 50px;
    margin-right: 1rem;
    margin-left: 2rem;
}

button {
    cursor: pointer;
}

.avatar_img {
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: -30px;
    margin-bottom: 30px;
    margin-top: 10px;
}

.avatar_container {
    display: flex;
    align-items: center;
    /* Taken from SVGBackgrounds.com */
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2000 1350" fill="%239259A0"><path d="m283.83 277.46 198.65-107.82C913.39-64.25 1454.42 42.97 1757.99 422.41l74.66 93.32c150.29 187.85 86.36 463.14-132.18 569.23l-239.4 116.21C974.84 1437.2 384.66 1251.75 130.43 783.05c-98.3-181.23-30.11-405.99 153.4-505.59Z"></path></svg>');
    background-repeat: no-repeat;
    width: 105px;
    height: 90px;
    margin-top: 18px;
}

.button_arrow {
    background-color: transparent;
    border: none;
    color: var(--color-almost-white);
    margin-top: -15px;
    margin-left: -30px;
    transform: rotate(90deg);
}

@media (max-width: 768px) {
    .avatar_container {
        display: none;
    }
}

@media (min-width: 769px) and (max-width: 1400px) {

    .avatar_container {
        width: 150px;
        height: 150px;
        margin-bottom: -30px;
        margin-right: 15px;
    }

    .button_avatar {
        margin-right: 0;
    }

    .avatar_img {
        width: 70px;
        height: 70px;
        margin-left: 20px;
        margin-top: -10px;
    }

    .button_arrow {
        margin-left: 20px;
        margin-top: -30px;
    }
}