.div_modal_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal {
    outline: transparent;
    font-family: 'Playpen Sans', sans-serif;
    text-align: center;
    margin: 12rem auto 5rem;
    padding: 60px 50px;
    width: 30%;
    background-image: linear-gradient(200deg, var(--color-primary) 15%, var(--color-primary-gradient) 82%);
    font-size: 22px;
    border-radius: 6px;
    box-shadow: none;
}

.modal::backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
}

.modal button {
    margin-top: 2rem;
    border: 1px solid var(--color-primary);
    font-size: 1.25rem;
    color: var(--color-almost-white);
    transition: color 0.3s ease-in-out;
    font-family: 'Playpen Sans', sans-serif;
    text-align: center;
    background-color: var(--color-primary);
    padding: 10px 20px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.modal button:hover {
    background-color: var(--button-color);
}

.modal_icon {
    margin: 0 auto;
    font-size: 70px;
    color: var(--color-almost-white);
}

.modal_h1 {
    color: var(--color-almost-white);
    margin-bottom: 2rem;
}

.actions button {
    margin-right: 1rem;
    margin-left: 1rem;
    width: 150px;
}