.select {
    font-family: 'Playpen Sans', sans-serif;
    margin-top: 20px;
    background-color: transparent;
    color: var(--color-almost-white);
    border: 1px solid var(--color-almost-white);
    padding: 8px 10px;
    outline: none;
    cursor: pointer;
    border-radius: 4px;
    width: 350px;
}

.select option {
    font-size: 14px;
    color: var(--color-primary-background);
}