.parts-modal {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    margin: 23vh auto 5vh;
    padding: 60px 50px;
    width: 30%;
    background-image: linear-gradient(200deg, #4e246d 15%, #310942 82%);
    font-size: 22px;
}

.parts-modal button {
    font-family: 'Ubuntu', sans-serif;
    margin-top: 7vh;
    font-size: 22px;
    padding: 22px 5vw 3vh;
    border: 1px solid #d495e2;
}

/*@keyframes modal-appear {*/
/*    0% {*/
/*        opacity: 0;*/
/*    }*/
/*    25% {*/
/*        opacity: 25%;*/
/*    }*/
/*    50% {*/
/*        opacity: 50%;*/
/*    }*/
/*    75% {*/
/*        opacity: 75%;*/
/*    }*/
/*    100% {*/
/*        opacity: 100%;*/
/*    }*/
/*}*/

/*@keyframes modal-disappear {*/
/*    0% {*/
/*        opacity: 100%;*/
/*    }*/
/*    25% {*/
/*        opacity: 75%;*/
/*    }*/
/*    50% {*/
/*        opacity: 50%;*/
/*    }*/
/*    75% {*/
/*        opacity: 25%;*/
/*    }*/
/*    100% {*/
/*        opacity: 0;*/
/*    }*/
/*}*/

.parts-modal h2 {
    margin-bottom: 5vh;
}

.icon-modal {
   margin: 0 auto;
    font-size: 70px;
}

.ReactModal__Overlay {
    opacity: 0;
    transition: all 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModal__Overlay--before-close {
    opacity: 0;
}

