.calendar_events_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 6px;
    background-image: linear-gradient(200deg, var(--color-primary) 15%, var(--color-primary-gradient) 82%);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    margin: 4rem auto;
    width: 700px;
}

.events_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin-bottom: 1rem;
    background-color: var(--color-primary);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    width: 500px;
    height: 100px;
}

.single_event {
    text-align: center;
}

.h1 {
    margin-top: 2rem;
    text-align: center;
    font-size: 20px;
}

.btn_add {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.icon_button {
    margin: 0 20px;
}

