.calendar_events_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-radius: 6px;
    background-image: linear-gradient(200deg, var(--color-primary) 15%, var(--color-primary-gradient) 82%);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    margin: 2rem auto;
    width: 700px;
}



