.events_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    gap: 2rem;
}

.single_event {
    text-align: center;
    background-color: var(--color-primary);
    width: 500px;
    height: 100px;
}

.h1 {
    margin-top: 2rem;
    text-align: center;
}