.calendar_events_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-radius: 6px;
    background-image: linear-gradient(200deg, var(--color-primary) 15%, var(--color-primary-gradient) 82%);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    margin: 4rem auto;
    width: 700px;
}

.events_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin-bottom: 1rem;
    background-color: var(--color-primary);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    width: 500px;
    height: 100px;
}

.single_event {
    text-align: center;
}

.h1 {
    text-align: center;
    font-size: 20px;
}

.icon_button {
    margin: 0 20px;
}

.container {
    display: flex;
}

.round {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-image: linear-gradient(200deg, var(--color-secondary-violet) 15%, var(--color-accessory-gradient) 82%);
    align-self: center;
    margin-bottom: 1rem;
    margin-right: 2rem;
}

.actions {
    display: flex;
    width: 440px;
    height: 100px;
    justify-content: space-between;
    align-items: center;
}

.actions button {
    background-color: var(--color-secondary);
    border: 1px solid var(--color-secondary);
}

.actions button:hover {
    background-color: var(--color-primary);
}

.header_container img {
    width: 120px;
    height: 120px;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
}


.header_container {
    display: flex;
    align-items: center;
}

.arrow_container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -20px;
}

.arrow {
    width: 100px;
    height: 100px;
    /* Taken from SVGBackgrounds.com */
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500" fill="%23E6E6FA"><g><path d="m385.54 271.64-.8.45.8-.45ZM447.89 211.06c-18.76-27.31-44.82-59.56-66.31-83.65a9.18 9.18 0 0 0-5.38-3.7c-10.65-2.09-14.53 7.22-6.33 14.04 18.97 23.31 37.56 47.09 54.62 71.86-27.69-9-80.46-12.81-89.57-14-78.54-5.99-162.26 9.22-223.16 62.1-32.32 27.27-66.02 69.31-65.22 113.55-.02 7.28 17.74 8.59 19.2-5.66 7.56-72.25 95.56-133.37 162.44-146.43 55.03-12.22 112.14-8.65 167.2 1.5 23.18 4.25 22.56 5.37 29.51 7.79-17.27 11.16-35.79 20.45-53.52 30.85-6.49 5.38-28.25 9.44-21.03 20.84 10.16 11.23 24.87-4.35 35.21-8.51a2123.25 2123.25 0 0 0 33.44-19.16c10.18-7.17 31.93-15.13 34.5-27.99.37-5.08-2.96-9.39-5.57-13.44Z"></path></g></svg>');
    transform: rotate(280deg);
}

.arrow_container p {
    align-self: flex-end;
}


