input {
    border:none;
    color: white;
    font-size: 16px;
    background-color: transparent;
    text-align: center;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
}

input:focus {
    outline: none;
    background-color: transparent;
}

.icon {
    font-size: 16px;
}

.mini-icon {
    padding-left: 5px;
    padding-right: 5px;
}

.plan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
    border: 1px solid white;
}


.exercises-table {
    text-align: center;
    width: 90%;
    margin: 0 auto;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

td, th {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid white;
}


.hidden {
    border: none;
}

button {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
}

.react-icons-smaller {
    font-size: 20px;
    transition: color 0.4s;
}

.react-icons-smaller:hover {
    color: #d495e2;
}

.edited-input-exercise {
    animation: change-color 1s;
}

@keyframes change-color {
    0% {
        color: white;
    }
    50% {
        color:  #d495e2;
    }
    100% {
        color: white;
    }
}

.exercise-order {
    width: 1vw;
}

.exercise-name {
    width: 15vw;
}

.exercise-series {
    width: 1vw;
}

.exercise-repetitions {
    width: 10vw;
}

.exercise-pause {
    width: 1vw;
}

.exercise-tips {
    width: 25vw;
}

.exercise-url {
    width: 10vw;
}

.icon-add-edit,
.icon-question,
.icon-delete {
    width: 1vw;
}



