input {
    border:none;
    color: white;
    /*color: #DA70D6;*/
    font-size: 16px;
    background-color: transparent;
    text-align: center;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
}

input:focus {
    outline: none;
    background-color: transparent;
}

.icon {
    font-size: 16px;
}

.mini-icon {
    padding-left: 5px;
    padding-right: 5px;
}

.plan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
    border: 1px solid white;
}


.exercises-table {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding-top: 5vh;
    padding-bottom: 5vh;
    /*border: 1px solid white;*/
}

td, th {
    padding: 10px;
    border-top: 1px solid white;
}


.hidden {
    border: none;
}

button {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
}

.react-icons-smaller {
    font-size: 20px;
}



/*// TODO: Make CSS fot table of exercises, add icons from PartsOfPlanForm, add colSpan to make prettier table. Think about make less height of th in main table - "Plan treningowy", Make link on click to ? - instruction how to use app - main page. Add part - progression - another link, another record. Think about colors change - to trendy colors of this year.*/