.input-exercise {
    border: none;
    color: #E6E6FA;
    font-size: 16px;
    background-color: transparent;
    text-align: center;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
}

input:focus {
    outline: transparent;
    background-color: transparent;
}

.icon {
    font-size: 16px;
}

.mini-icon {
    padding-left: 5px;
    padding-right: 5px;
}

.plan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
    border: 1px solid white;
}


.exercises-table {
    text-align: center;
    width: 90%;
    max-width: 90%;
    margin: 0 auto;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

td, th {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid white;
}

button {
    background-color: transparent;
    color: #E6E6FA;
    border: none;
    cursor: pointer;
}

.react-icons-smaller {
    font-size: 20px;
    transition: color 0.4s;
    color: #E6E6FA;
}

.dark {
    color: #310942;
}

.react-icons-link {
    font-size: 24px;
    transition: color 0.4s;
    color: #E6E6FA;
    padding-top: 5px;
}

.react-icons-smaller:hover {
    color: #d495e2;
}

.edited-input-exercise {
    border:none;
    color: #E6E6FA;
    font-size: 16px;
    text-align: center;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    animation: highlight 1s;
    background-color: transparent;
}

.edited-input-exercise-url {
    border:none;
    color: #E6E6FA;
    font-size: 14px;
    text-align: center;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    animation: highlight 1s;
    background-color: transparent;
}

.edited-exercise-textarea {
    font-family: 'Ubuntu', sans-serif;
    color: #E6E6FA;
    width: 25vw;
    min-width: 25vw;
    height: 6vh;
    min-height: 6vh;
    background-color: transparent;
    font-size: 14px;
    border: none;
    animation: highlight 1s;
}

.exercise-order {
    width: 1vw;
}

.exercise-name {
    width: 15vw;
}

.exercise-series {
    width: 5vw;
}

.exercise-repetitions {
    width: 10vw;
}

.exercise-pause {
    width: 8vw;
}

.exercise-tips {
    width: 25vw;
}

.exercise-url {
    width: 14vw;
}

.icon-add-edit,
.icon-question,
.icon-delete {
    width: 1vw;
}

.exercise-textarea {
    font-family: 'Ubuntu', sans-serif;
    color: #E6E6FA;
    width: 25vw;
    min-width: 25vw;
    height: 6vh;
    min-height: 6vh;
    background-color: transparent;
    font-size: 14px;
    border: none;
}

.hidden {
    border: none;
    background-color: transparent;
}

.wrapper-exercises-table {
    margin-top: 5vh;
}

.input-hidden {
    display: none;
}

.input-url {
    font-size: 14px;
}

::placeholder {
    font-size: 14px;
    font-weight: lighter;
    color: #E6E6FA;
    opacity: 40%;
    text-align: center;
}

.input-url::placeholder {
    font-size: 14px;
}

textarea::placeholder {
    padding-top: 20px;
}

@media (max-width: 400px) {

    .exercises-table {
        display: block;
        text-align: center;
        width: 90%;
        max-width: 90%;
        margin: 0 auto;
        padding-top: 5vh;
        padding-bottom: 2vh;
    }

    .exercises-table th,
    .exercises-table td {
        display: block;
        text-align: center;
    }

    .exercises-table tbody tr {
        display: block;
        margin-bottom: 10vh;
        text-align: center;
    }

    .exercises-table tbody tr:first-child {
        margin-top: 5vh;
    }

    .exercises-table tbody td,
    .exercises-table tbody th {
        display: block;
        text-align: center;
        width: 100%;
    }

    .exercises-table tbody .icon-delete {
        text-align: center;
        margin: 0 auto;
    }

    .exercises-table tbody .react-icons-smaller {
        display: block;
        margin: 0 auto;
    }

    .exercises-table tbody .react-icons-link {
        display: block;
        margin: 0 auto;
        padding-top: 5px;
    }

    .exercise-order,
    .exercise-name,
    .exercise-series,
    .exercise-repetitions,
    .exercise-pause,
    .exercise-tips,
    .exercise-url,
    .hidden {
        width: 100%;
        text-align: center;
    }

    .exercise-textarea {
        width: 100%;
    }

    .go-back {
        margin-bottom: 5vh;
    }
}

.div-plan-info {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inner-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inner-container h3 {
    margin-bottom: 0.2rem;
}

.inner-container p {
    margin-bottom: 1rem;
}




