.input-exercise {
    border: none;
    color: #E6E6FA;
    font-size: 16px;
    background-color: transparent;
    text-align: center;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
}

input:focus {
    outline: transparent;
    background-color: transparent;
}

.icon {
    font-size: 16px;
}

.mini-icon {
    padding-left: 5px;
    padding-right: 5px;
}

.plan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
    border: 1px solid white;
}


.exercises-table {
    text-align: center;
    width: 90%;
    max-width: 90%;
    margin: 0 auto;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

td, th {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid white;
}

button {
    background-color: transparent;
    color: #E6E6FA;
    border: none;
    cursor: pointer;
}

.react-icons-smaller {
    font-size: 20px;
    transition: color 0.4s;
    color: #E6E6FA;
}

.dark {
    color: #310942;
}

.react-icons-link {
    font-size: 24px;
    transition: color 0.4s;
    color: #E6E6FA;
    padding-top: 5px;
}

.react-icons-smaller:hover {
    color: #d495e2;
}

.edited-input-exercise {
    border:none;
    color: #E6E6FA;
    font-size: 16px;
    text-align: center;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    animation: highlight 1s;
    background-color: transparent;
}

.edited-input-exercise-url {
    border:none;
    color: #E6E6FA;
    font-size: 10px;
    text-align: center;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    animation: highlight 1s;
    background-color: transparent;
}

.edited-exercise-textarea {
    font-family: 'Ubuntu', sans-serif;
    color: #E6E6FA;
    width: 30vw;
    min-width: 30vw;
    height: 6vh;
    min-height: 6vh;
    background-color: transparent;
    font-size: 14px;
    border: none;
    animation: highlight 1s;
}

.exercise-order {
    width: 1vw;
}

.exercise-name {
    width: 15vw;
}

.exercise-series {
    width: 1vw;
}

.exercise-repetitions {
    width: 8vw;
}

.exercise-pause {
    width: 8vw;
}

.exercise-tips {
    width: 30vw;
}

.exercise-url {
    width: 14vw;
}

.icon-add-edit,
.icon-question,
.icon-delete {
    width: 1vw;
}

.exercise-textarea {
    font-family: 'Ubuntu', sans-serif;
    color: #E6E6FA;
    width: 30vw;
    min-width: 30vw;
    height: 6vh;
    min-height: 6vh;
    background-color: transparent;
    font-size: 14px;
    border: none;
}

/*.tr-add td, th {*/
/*    border: 1px solid #d495e2;*/
/*    background-image: linear-gradient(200deg, #d495e2 15%, #ca9dd9 82%);*/
/*    color: #310942;*/
/*}*/

.hidden {
    border: none;
    background-color: transparent;
}

.wrapper-exercises-table {
    margin-top: 5vh;
}

.input-hidden {
    display: none;
}

.input-url {
    font-size: 10px;
}





