.events_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin-bottom: 1rem;
    background-color: var(--color-primary);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    width: 500px;
    height: 100px;
}

.single_event {
    text-align: center;
}

.container {
    display: flex;
}

.round {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-image: linear-gradient(200deg, var(--color-secondary-violet) 15%, var(--color-accessory-gradient) 82%);
    align-self: center;
    margin-bottom: 1rem;
    margin-right: 2rem;
}