.rbc-header {
    padding: 10px !important;
    font-weight: bold !important;
}

.rbc-off-range-bg {
    background-color: #270b31 !important;
}

.rbc-today {
    background-color: #d495e2 !important;
}

.rbc-btn-group {
    background-color: transparent !important;
}

.rbc-btn-group button {
    color: #E6E6FA !important;
}

.rbc-btn-group button.rbc-active,
.rbc-btn-group button.rbc-active:hover,
.rbc-btn-group button:active,
.rbc-btn-group button:focus {
    background-color: #d495e2 !important;
}

.rbc-btn-group button:hover {
    background-color: #d495e2 !important;
}

.rbc-header {
    height: 40px !important;
}

.rbc-day-bg {
    cursor: pointer;
}

.rbc-day-bg:hover {
    background-color: #8549b6 !important;
}

.rbc-events-container {
    cursor: pointer;
}

.selected-date {
    background-color: #8549b6 !important;
}

.rbc-event-content {
    width: 100px;
    white-space: normal !important;
    max-height: 100px;
}

.rbc-event {
    background-color: #7d448b !important;
}

.rbc-month-view {
    background-image: linear-gradient(200deg, #39114a 15%, #310942 82%);
}