.rbc-header {
    padding: 10px !important;
    font-weight: bold !important;
}

.rbc-off-range-bg {
    background-color: #270b31 !important;
}

.rbc-today {
    background-color: #d495e2 !important;
}

.rbc-btn-group {
    background-color: transparent !important;
}

.rbc-btn-group button {
    color: #E6E6FA !important;
}
.rbc-btn-group button.rbc-active {
    background-color: #d495e2 !important;
}

.rbc-btn-group button:hover {
    background-color: #d495e2 !important;
}

.rbc-header {
    height: 40px !important;
}

.rbc-day-bg {
    cursor: pointer;
}

/*.rbc-events-container {*/
/*    */
/*}*/
