input {
    border:none;
    color: white;
    font-size: 16px;
    background-color: transparent;
    text-align: center;
}

input:focus {
    outline: none;
    background-color: transparent;
}

.icon {
    padding: 5px;
    font-size: 30px;
}

.mini-icon {
    padding-left: 5px;
    padding-right: 5px;
}

.plan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
    border: 1px solid white;
}

h1, h2 {
    padding-bottom: 2vh;
    font-size: 16px;
}

table {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding-top: 5vh;
    padding-bottom: 5vh;
    /*border: 1px solid white;*/
}

tr {
    margin: 2px;
    /*background-color: #f1cdcd;*/
}

tr:nth-child(2n) {
    /*background-color: #eadbdb;*/
}

thead tr,
.header-of-left th {
    /*background-color: #cd7c7c;*/
}

td, th {
    padding: 10px;
    border: 1px solid white;
}

.hidden {
    border: none;
}

button {
    background-color: transparent;
    color: white;
    border: 1px solid white;
}