@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-image: linear-gradient(200deg, #39114a 15%, #310942 82%);
  height: 100%;
}

body {
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #E6E6FA;
  cursor: default;
}