* {
  margin: 0;
  padding: 0;
  font-family: 'Dosis', sans-serif;
}

body {
  height: 100vh;
  overflow: hidden;
  padding-top: 3vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-image: linear-gradient(200deg, #DA70D6 15%, #87CEEB 82%);
  color: white;
  cursor: default;
}