@keyframes slideInRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideOutRight {
    from {
        transform: translateX(0);
        visibility: visible;
    }
    to {
        transform: translateX(100%);
        visibility: hidden;
    }
}

.sidebar-container {
    display: flex;
    position: absolute;
    top: 55%;
    right: 0;
    transform: translateY(-50%);
    background-image: linear-gradient(200deg, #7d448b 15%, #4f1866 82%);
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    animation: slideInRight 0.3s forwards;
    z-index: 999;
    text-align: center;
    flex-wrap: wrap;
    width: 280px;
    margin: 0 auto;
    visibility: visible;
}

.sidebar-container h1 {
    margin-bottom: 10px;
}

.sidebar-container.open {
    visibility: visible;
}

.sidebar-container.closed {
    animation: slideOutRight 0.3s forwards;
}

input[type="time"] {
    background-color: #E6E6FA;
    border: 1px solid #E6E6FA;
    color: #310942;
    padding: 5px 10px;
    border-radius: 4px;
}


input[type="time"]:focus {
    outline: transparent;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
}

.sidebar-container.open input[type="time"],
.sidebar-container.open .add-event-button {
    display: block;
    margin-bottom: 10px;
}

.label-date {
    width: 60%;
    padding-right: 10px;
    box-sizing: border-box;
    font-size: 14px;
    margin-top: 8px;
    text-align: left;
}

.input-date {
    width: 40%;
}

.sidebar-button {
    margin-top: 10px;
    padding: 8px 12px;
    background-color: transparent;
    color: #E6E6FA;
    border: 1px solid #E6E6FA;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.sidebar-button:hover {
    background-color: #d495e2;
}

.error {
    font-size: 14px;
    color: #ff2100;
    margin-bottom: 0.4rem;
}
