.rbc-header {
    padding: 10px !important;
    font-weight: bold !important;
    letter-spacing: 2px;
    word-spacing: 10px;
    font-family: 'Playpen Sans', sans-serif;
}

.rbc-off-range-bg {
    background-color: var(--color-dark) !important;
}

.rbc-today {
    background-image: linear-gradient(200deg, var(--color-primary) 15%, var(--color-primary-gradient) 82%);
}

.rbc-btn-group {
    background-color: transparent !important;
}

.rbc-button-link {
    font-size: 16px;
}

.rbc-btn-group button {
    font-size: 1rem;
    border: 1px solid var(--color-almost-white) !important;
    padding: 0.5rem 0.5rem;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    color: var(--color-almost-white) !important;
    height: 50px;
    width: 100px;
    letter-spacing: 2px;
    word-spacing: 10px;
    font-family: 'Playpen Sans', sans-serif;
}

.rbc-btn-group:first-child button:nth-child(2),
.rbc-btn-group:first-child button:nth-child(3) {
    width: 50px;
}

.rbc-toolbar-label {
    font-size: 1.5rem !important;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    letter-spacing: 2px;
    word-spacing: 10px;
    font-family: 'Playpen Sans', sans-serif;
}

.rbc-btn-group button:first-child {
    width: 124px;
}

.rbc-btn-group button.rbc-active,
.rbc-btn-group button.rbc-active:hover,
.rbc-btn-group button:active,
.rbc-btn-group button:focus {
    background-color: var(--color-light) !important;
}

.rbc-btn-group button:hover {
    background-color: var(--color-light) !important;
}

.rbc-header {
    height: 40px !important;
}

.rbc-day-bg,
.rbc-row-segment,
.rbc-row {
    cursor: pointer;
}

.rbc-events-container {
    cursor: pointer;
}

.selected-date {
    background-color: var(--color-primary) !important;
}

.rbc-event-content {
    white-space: normal !important;
    max-height: 100px;
}

.rbc-event {
    background-color: var(--color-primary) !important;
}

.rbc-month-view {
    background-image: linear-gradient(200deg, var(--color-accessory-border) 15%, var(--color-primary-background) 82%);
}

.rbc-button-link {
    letter-spacing: 2px;
    word-spacing: 10px;
    font-family: 'Playpen Sans', sans-serif;
}

@media (max-width: 576px) {
    .rbc-btn-group {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .rbc-month-view {
        width: 100vw;
    }
}