.accordion_container {
    position: relative;
    margin-bottom: 2vh;
}

.accordion {
    display: flex;
}

.accordion_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    background-color: transparent;
}

.accordion_title {
    font-weight: bold;
    font-size: 1.5rem;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    word-spacing: 10px;
    font-family: 'Playpen Sans', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3)
}

.accordion_icon {
    font-size: 18px;
    padding: 5px 5px;
}

.accordion_content {
    display: flex;
    position: absolute;
    top: -10%;
    left: -62%;
    width: 460px;
    height: 650px;
    padding: 10px;
    background-image: linear-gradient(200deg, var(--color-primary) 15%, var(--color-primary-gradient) 82%);
    z-index: 4;
    transition: 0.3s ease-out;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.accordion_content.open {
    transform: translateX(0);
}

.accordion_content.closed {
    transform: translateX(-100%);
}

.accordion_button {
    background-color: var(--color-primary-background);
}

.accordion_button:hover {
    background-color: var(--color-accessory-gradient);
}