.accordion-container {
    position: relative;
    margin-bottom: 2vh;
}

.accordion {
    display: flex;
}

.accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    background-color: transparent;
}

.accordion-title {
    font-weight: bold;
    font-size: 20px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accordion-icon {
    font-size: 18px;
    border: 1px solid #ccc;
    padding: 5px 5px;
}

.accordion-content {
    position: absolute;
    top: -38%;
    left: -58%;
    width: 450px;
    height: 600px;
    border: 1px solid #ccc;
    padding: 10px;
    background-image: linear-gradient(200deg, #39114a 15%, #310942 82%);
    z-index: 4;
}