.accordion-container {
    position: relative;
    margin-bottom: 2vh;
}

.accordion {
    display: flex;
}

.accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    background-color: transparent;
}

.accordion-title {
    font-weight: bold;
    font-size: 20px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accordion-icon {
    font-size: 18px;
    border: 1px solid #ccc;
    padding: 5px 5px;
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

.accordion-content {
    display: flex;
    position: absolute;
    top: -10%;
    left: -60%;
    width: 460px;
    height: 650px;
    padding: 10px;
    background-image: linear-gradient(200deg, #7d448b 15%, #4f1866 82%);
    z-index: 4;
    animation: slideInLeft 0.3s forwards;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    visibility: visible;
}

.accordion-content.open {
    visibility: visible;
}

@keyframes slideOutLeft {
    from {
        transform: translateX(0);
        visibility: visible;
    }
    to {
        transform: translateX(-100%);
        visibility: hidden;
    }
}

.accordion-content.closed {
    animation: slideOutLeft 0.3s forwards;
}