input {
    border:none;
    color: white;
    /*color: #DA70D6;*/
    font-size: 26px;
    background-color: transparent;
    text-align: center;
}

input:focus {
    outline: none;
    background-color: transparent;
}

h1, h2 {
    padding-top: 2vh;
    padding-bottom: 2vh;
    font-size: 26px;
    text-align: center;
}

table {
    text-align: center;
    width: 40%;
    margin: 0 auto;
    padding-top: 15vh;
    padding-bottom: 5vh;
    /*border: 1px solid white;*/
}

td, th {
    padding: 10px;
    border: 1px solid white;
}


.hidden {
    border: none;
}

button {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
}

.react-icons {
    font-size: 26px;
}

.gradient-bgc-tr {
    background-image: linear-gradient(200deg, #87CEEB 15%, #DA70D6 82%);
}

.main-h1 {
    padding-top: 7vh;
}


