.input-part {
    border:none;
    color: white;
    font-size: 22px;
    text-align: center;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
}

input:focus {
    outline: transparent;
    background-color: transparent;
}

h1, h2 {
    padding-top: 2vh;
    padding-bottom: 2vh;
    font-size: 22px;
    text-align: center;
}

.main-h1 {
    font-size: 26px;
    text-align: left;
    margin-top: 1vh;
    padding-left: 2vw;
}

.main-table {
    text-align: center;
    margin: 0 auto;
    padding-top: 15vh;
    padding-bottom: 5vh;
    width: 30%;
}

td, th {
    padding: 15px;
    border: 1px solid white;
}


.hidden {
    border: none;
}

button {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
}

.react-icons {
    font-size: 22px;
    transition: color 0.4s;
}

.react-icons:hover {
    color: #d495e2;
}

.td-progression-rules {
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
}

.edited-input {
    border:none;
    color: white;
    font-size: 22px;
    text-align: center;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    animation: highlight 1s;
}

.td-highlight {
    animation: td-highlight 1s;
}

@keyframes highlight {
    0% {
        color: #fff;
    }
    50% {
        color: #d495e2;
    }
    100% {
        color: #fff;
    }
}

@keyframes td-highlight {
    0% {
        background-color: transparent;
    }
    50% {
        background-color: #d495e2;
    }
    100% {
        background-color: transparent;
    }
}

.react-main-icon {
    font-size: 22px;
}


