.input-part {
    border:none;
    color: #E6E6FA;
    font-size: 22px;
    text-align: center;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    background-color: transparent;
}

input:focus {
    outline: transparent;
    background-color: transparent;
}

h1, h2 {
    padding-top: 2vh;
    padding-bottom: 2vh;
    font-size: 22px;
    text-align: center;
}

.main-h1 {
    font-size: 26px;
    text-align: left;
    margin-top: 1vh;
    padding-left: 2vw;
}

.main-table {
    text-align: center;
    margin: 0 auto;
    padding-top: 15vh;
    padding-bottom: 5vh;
    width: 30%;
}

td, th {
    padding: 15px;
    border: 1px solid #d495e2;
}


.hidden {
    border: none;
}

button {
    background-color: transparent;
    color: #E6E6FA;
    border: none;
    cursor: pointer;
}

.react-icons {
    font-size: 22px;
    transition: color 0.4s;
}

.react-icons:hover {
    color: #d495e2;
}

.td-progression-rules {
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
}

.edited-input {
    border:none;
    color: #E6E6FA;
    font-size: 22px;
    text-align: center;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    animation: highlight 1s;
    background-color: transparent;
}

.question {
    animation: background-highlight 1s;
}

.td-highlight {
    background-image: linear-gradient(200deg, #d495e2 15%, #632b7a 82%);
}

@keyframes highlight {
    0% {
        color: #E6E6FA;
    }
    50% {
        color: #d495e2;
    }
    100% {
        color: #E6E6FA;
    }
}

@keyframes background-highlight {
    0% {
        background-color: transparent;
    }
    50% {
        background-color: #d495e2;
    }
    100% {
        background-color: transparent;
    }
}

.react-main-icon {
    font-size: 24px;
    vertical-align: -2px
}

.parts-modal {
    text-align: center;
    margin: 25vh auto 5vh;
    padding: 40px 40px;
    width: 30%;
    background-color: black;
    font-size: 22px;
}

.parts-modal button {
    margin-top: 7vh;
    font-size: 22px;
}

.parts-modal h2 {
    margin-bottom: 7vh;
}





