.input-part {
    border: none;
    color: #E6E6FA;
    font-size: 22px;
    text-align: center;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    background-color: transparent;
    height: 5vh;
}

input:focus {
    outline: transparent;
    background-color: transparent;
}

h1, h2 {
    padding-top: 1.3vh;
    padding-bottom: 1vh;
    font-size: 22px;
    text-align: center;
}

.main-h1 {
    font-size: 26px;
    text-align: left;
    margin-top: 1vh;
    padding-left: 2vw;
}

.main-table {
    text-align: center;
    margin: 0 auto;
    padding-top: 15vh;
    padding-bottom: 5vh;
}

td, th {
    padding: 15px;
    border: 1px solid #d495e2;
}

.training-plan {
    height: 4vh;
}


.hidden {
    border: none;
}

button {
    background-color: transparent;
    color: #E6E6FA;
    border: none;
    cursor: pointer;
}

.react-icons {
    font-size: 22px;
    transition: color 0.4s;
    width: 30px;
}
.react-icons-progression {
    font-size: 22px;
    transition: color 0.4s;
    width: 30px;
}

.react-icons:hover {
    color: #d495e2;
}

.td-progression-rules {
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
}

.edited-input {
    border: none;
    color: #E6E6FA;
    font-size: 22px;
    text-align: center;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    animation: highlight 1s;
    background-color: transparent;
    height: 5vh;
}

.question {
    animation: background-highlight 1s;
}

@keyframes highlight {
    0% {
        color: #E6E6FA;
    }
    50% {
        color: #d495e2;
    }
    100% {
        color: #E6E6FA;
    }
}

.react-main-icon {
    font-size: 24px;
    vertical-align: -2px
}

.dots {
    height: 3vh;
}

.parts-modal {
    text-align: center;
    margin: 25vh auto 5vh;
    padding: 40px 40px;
    width: 30%;
    background-color: black;
    font-size: 22px;
}

.parts-modal button {
    margin-top: 7vh;
    font-size: 22px;
}

.parts-modal h2 {
    margin-bottom: 7vh;
}

@media (min-width: 1480px) {
    .main-table {
        width: 550px;
    }
}

@media (max-height: 500px) {
    .main-table {
        padding-top: 10vh;
    }
}

@media (max-width: 375px) {

    .main-table {
        width: 100%;
        padding-top: 2vh;
    }

    .main-table td {
        display: block;
        width: 100%;
    }

    .main-table td:nth-child(3),
    .main-table td:nth-child(4),
    .main-table td:nth-child(5) {
        display: inline-block;
        width: 50%;
    }

    .main-table td:nth-child(1),
    .main-table td:nth-child(2) {
        width: 100%;
        margin: 0 auto;
    }

    .main-table td:nth-child(1) {
        margin-top: 10vh;
    }

    .tr-add td {
        width: 100%;
    }

    .training-plan {
        height: 75px;
    }

    .dots {
        height: 57px;
    }

    .td-progression-rules {
        height: 57px;
    }

    .react-icons-dots {
        vertical-align: -5px;
    }

    .react-icons-progression {
        vertical-align: -12px;
    }

}



